<div class="content">
  <%= render partial: 'eggs/partial/status_egg', locals: {egg: @egg, chicken: @chicken}%>

  <%= link_to 'Editar', edit_chicken_egg_path(@egg) %> |
  <%= link_to 'Ovos', chicken_eggs_path(@chicken) %>
</div>
